version: '3.9'

services:
  openvas:
    image: immauss/openvas:latest
    container_name: openvas
    restart: unless-stopped
    ports:
      - "127.0.0.1:9392:9392"   # Web UI solo localhost
      - "127.0.0.1:9390:9390"   # El puerto de comunicacion
    volumes:
      - openvas-data:/data
      - /opt/gvm:/opt/gvm
    environment:
      - PASSWORD=admin
      - RELAYHOST=smtp.example.com
      - SMTPPORT=25

volumes:
  openvas-data:

